#container {
  display:flex;
  padding-left: 100px;
}

#title {
  font-size: 30px;
  display: inline-block;
  padding-left: 20px;
  font-weight: bold;
}

.input {
  font-family: "Inter", sans-serif;
  width: 97%;
  outline: 0;
  background: #d1d1d1;
  border: 0;
  padding: 10px;
  margin-bottom: 7px;
  font-size: 18px;
  display:flex;
  flex-direction:column;
}

.input-label {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  text-align: left;
  display: inline;
}

.input-container {
  width:100%;
  margin-right: 40px;
}

.submit {
  text-align: center;
  background-color: #baa87d;
  margin: 0 15px 0 20px;
  border:none;
  box-shadow: 0 0 2px rgba(0,0,0,0.50);
  border-radius: 10px;
}

.submit:hover {
  background-color: #fefbe5;
  transition: background-color 500ms;
}

.submit:active {
  background-color: #890f22;
}

.submit p {
  font-size: 20px;
  margin:8px;
  color:white;
}

hr {
  background-color: lightgray;
  margin-bottom: 20px;
  width: 100%;
}
