@if (!submitted) {

<p id="title">Add New Goal</p>


<div id="container">
  <div class="input-container">
    <label for="goalName" class="input-label">Name For Goal </label>
    <input class="input" type="text" id="goalName" [(ngModel)]="goal.name">
    <hr>

    <label for="amountToSave" class="input-label">Candidate Name</label>
    <input class="input" type="text" id="amountToSave" [(ngModel)]="goal.amountToSave">
    <hr>

    <button class="submit" id="submit-opening" (click)="newGoal()"><p>Apply</p></button>
    <button class="submit" id="cancel-opening" routerLink="../"><p>Cancel</p></button>

  </div>
  <div class="input-container">
    <label for="date" class="input-label">Date To Save By </label>
    <input class="input" type="text" id="date" [(ngModel)]="goal.date">
    <hr>

    <label for="amountSaved" class="input-label">Application Date </label>
    <input class="input" type="text" id="amountSaved" [(ngModel)]="goal.amountSaved">
    <hr>
  </div>

</div>

} @else {
<p id="success">Application was submitted successfully!</p>
<a routerLink=""><button class="submit"><p>View My Applications</p></button></a>
<a routerLink=""><button class="submit"><p>Return to Openings</p></button></a>
}
